name: Deploy to Production

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - 'Deploy to Staging'
    types:
      - completed
    branches:
      - main

permissions:
  contents: read
  id-token: write

env:
  AWS_REGION: eu-west-2
  PYTHON_VERSION: 3
  TERRAFORM_VERSION: 1.13.4
  TERRAGRUNT_VERSION: 0.78.1

jobs:
  apply-production:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    environment: production
    env:
      TERRAGRUNT_NON_INTERACTIVE: true
      TF_INPUT: false
      TF_IN_AUTOMATION: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::382373577178:role/GithubActions-Terraform-Role
          aws-region: ${{ env.AWS_REGION }}

      - uses: trade-tariff/trade-tariff-tools/.github/actions/setup-ssh@main
        with:
          ssh-key: ${{ secrets.PRIVATE_SSH_KEY }}

      - uses: ruby/setup-ruby@v1

      - run: bundle config set path 'vendor/bundle' && bundle install
        working-directory: common/lambda/trade-tariff-identity-create-auth-challenge

      - uses: autero1/action-terragrunt@v3
        with:
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - run: terragrunt init --all
        working-directory: environments/production

      - run: terragrunt apply --all
        name: apply-all-base
        working-directory: environments/production/base

      - run: terragrunt apply --all
        name: apply-all-applications
        working-directory: environments/production/applications

      - run: terragrunt apply --all
        name: apply-all-common
        working-directory: environments/production/common

  post-apply-production:
    needs: apply-production
    uses: trade-tariff/trade-tariff-tools/.github/workflows/e2e-tests.yml@main
    with:
      test-environment: production

  notifications:
      runs-on: ubuntu-latest
      needs: post-apply-production
      if: always()
      steps:
        - uses: actions/checkout@v6
        - uses: trade-tariff/trade-tariff-tools/.github/actions/slack-notify@main
          with:
            result: ${{ needs.post-apply-production.result }}
            slack_webhook: ${{ secrets.SLACK_WEBHOOK }}
            slack_channel: production-deployments
        - run: if [[ "${{ needs.post-apply-production.result }}" != "success" ]]; then exit 1; fi
